

/*  --------------------------------------------------------------------  */

font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; {font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px;}
#4d5255 {color:#4d5255;}

 outline:none; text-decoration:underline; { outline:none; text-decoration:underline;}
#0878b8 {color:#0878b8;}

font-size:17px; text-decoration:none; line-height:20px; font-weight:bold; {font-size:17px; text-decoration:none; line-height:20px; font-weight:bold;}
color:#b40741; {color:#b40741;}

color:#3b3b3e;
	font-size:17px;
	line-height:22px;
	font-weight:normal;
	margin:0;
	display:block; {color:#3b3b3e;
	font-size:17px;
	line-height:22px;
	font-weight:normal;
	margin:0;
	display:block;}

background:url(../images/cat-heading.jpg) repeat-x 0 0;
	color:#fff;
	padding:2px 0 2px 12px;
	font-size:21px;
	line-height:35px;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
	border-bottom:1px solid #efefef;
	font-family: 'Open Sans', sans-serif; {background:url(../images/cat-heading.jpg) repeat-x 0 0;
	color:#fff;
	padding:2px 0 2px 12px;
	font-size:21px;
	line-height:35px;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
	border-bottom:1px solid #efefef;
	font-family: 'Open Sans', sans-serif;}

font-size:12px; font-weight:normal; background:#fafafa; color:#000; {font-size:12px; font-weight:normal; background:#fafafa; color:#000;}
#000 {color:#000;}

/*  --------------------------------------------------------------------  */

/* CSS Document */

* { margin:0; padding:0;}
body { background:url(../images/main-shining.png) no-repeat 50% 0 #f1f1f1; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#4d5255;}
table, td {border-collapse:collapse; font-size:100%;}
table, td, img {border:0;}
form, td {margin:0; padding:0;}
td { vertical-align:top; text-align:left;}

.main-width { width:940px; margin:0 auto; text-align:left;}
.extra { width:980px; margin:0 auto; text-align:left;}

input, textarea { font-family:Tahoma; font-size:1em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

img {vertical-align:top;}
a img { border:0;}
ul { list-style:none;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper{ width:100%; overflow:hidden;}
.container { width:100%;}
.column-1, .column-2, .column-3{ float:left;}

a {color:#0878b8; outline:none; text-decoration:underline;}
a:hover{text-decoration:none;}
p { margin:0; padding:0;}

/* ============================= header ====================== */
#header{
	position:relative;
	height:156px;
	margin-bottom:20px;
}
/* --- logo --- */
#header .logo{
	position:absolute;
	top:60px;
	left:0;
}

/* --- shopping cart --- */
#header .cart{
	position:absolute;
	right:170px;
	top:116px;
	background:url(../images/box-heading.jpg) repeat-x 0 0;
	height:28px;
	color:#fff;
	font-size:12px;
	line-height:17px;
	width:158px;
	padding:12px 0 0 29px;
}

#header .cart .st1:hover,
#header .cart span a{}

#header .cart .st1{
	font-weight:bold;
	text-transform:capitalize;
	color:#fcfbfb;
	text-decoration:none;
	margin-right:15px;
}
#header .cart a:hover{ color:#000;}
#header .cart a.on{
	text-decoration:none;
	color:#fcfbfb;
}
#header .cart a.on:hover{ color:#333333;}
/* _______ dropdown cart _______ */
#header .cart  a.on{cursor:pointer;}
.cart-down, .none{ border:1px solid #e76206; border-top:none; background:#fff; overflow:hidden;	position:absolute; width:280px; left:-27px; top:40px; z-index:100;	text-transform:none; display:none; color:#000;}
.none{padding:15px; text-align:center; text-transform:uppercase;}
.cart_item{	width:256px; overflow:hidden; background:url(../images/tail-cart.gif) repeat-x 0 100% #fff;	padding:12px; margin:2px 0;}
.cart_item .left-info{ float:left;}
.cart_item .center-info{float:left; width:165px;}
.cart_item span{float:left;	margin:0 5px 0 0;}
.cart_item .quantity{color:#000; font-weight:bold; font-family:Tahoma, Geneva, sans-serif; margin:1px 5px 0 0;}
.cart_item .quantity .spr{font-size:8px; font-weight:normal; font-style:normal;}
.cart_item .cart-name{color:#000; font-size:12px; line-height:18px; float:left; text-transform:none; text-decoration:none; display:block; width:100%}
.cart_item .cart-name:hover{text-decoration:underline;}
.cart_item .model{display:block;font-size:10px;margin-top:1px; color:#676363; text-transform:lowercase; font-family:Tahoma, Geneva, sans-serif;}
.cart_item a.cart-img{ float:left; display:inline-block;margin:0 5px 0 0;}
.cart_item a.cart-img img{ width:60px; height:60px;}
.cart_item .cart-price{	float:left;	color:#7c0026;	font-size:14px;	font-weight:normal;}
.cart_item .delete{	float:right;padding:4px;}
.cart-down .cart-bottom{text-align:right; overflow:hidden; width:256px;	padding:12px; }
.cart-down .cart-bottom .total{	font-size:13px; font-weight:normal; width:100%; display:block;}
.cart-down .cart-bottom .total strong{ font-weight:normal;}
.cart-down .cart-bottom .total span{ font-size:14px; color:#7c0026;	margin:0 0 0 5px;}
.cart-down .cart-bottom a{float:left;}
.cart-down .cart-bottom .btns{overflow:hidden;	margin:10px 0 0 0;	text-align:right;	float:right;}

/* --- navigation --- */
#header .navigation{
	position:absolute;
	top:26px;
	right:41px;
}
#header .navigation a{
	text-decoration:none;
	color:#7ea004;
	font-weight:bold;
	font-size:12px;
	line-height:17px;
	float:left;
	margin-left:13px;
}
#header .navigation a.frst{}
#header .navigation a:hover{ color:#f07709;}

/* --- search --- */
#header #head-search{
	position:absolute;
	top:116px;
	left:0;
	background:url(../images/search-bg.gif) no-repeat 0 0;
	padding:5px 3px 7px 7px;
	width:573px
}
#header #head-search .label{}
#header #head-search form{float:left;}
#header #head-search .input1{
	float:left;
	background:#f7f7f7;
	border:none;
	border-top:1px solid #c3c3c3;
	width:455px;
	padding:6px 4px;
	margin:0 4px 0 0;
}

/* --- languages --- */
#header .lang{
	position:absolute;
	top:27px;
	right:0;
	width:27px;
	height:14px;
}

/* --- currencies --- */
#header .currencies{
	float:left;
	color:#656565;
	font-size:12px;
	line-height:15px;
	position:absolute;
	right:0px;
	top:116px;
	z-index:50;
	text-align:left;
	display:none;
	background:url(../images/cau-bg.png) no-repeat 0 0;
	width:155px;
	height:40px;
	padding:12px 0 0 15px;
}
#header .currencies .select.jqTransformHidden{
	display:none;
}
#header .currencies .label{
	float:left;
	margin-right:-3px;
	margin-top:1px;
	color:#fefefe;
	font-size:12px;
	line-height:14px;
}
#header .currencies .jqTransformSelectWrapper{
	background:url(../images/cur-arrow.png) no-repeat 94% 7px;
	border:none;
	float:left;
	width:82px!important;
	padding: 0 0 0 0;
	cursor:default;
}
#header .currencies .jqTransformSelectWrapper div{
	height:22px!important;
	overflow:hidden;
}
#header .currencies .jqTransformSelectWrapper div span{
	font-size:12px;
	color:#fefefe;
	padding:1px 25px 0 7px;
	width:60px!important;
	height:18px!important;
	overflow:hidden;
	float:left;
	cursor:pointer;
}
#header .currencies ul{
	padding:0px 0 0 0;
	margin:2px 1px 0 0px;
	width:80px!important;
	height:114px!important;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	background:#e25605;
}
#header .currencies ul li{
	line-height:11px;
	padding:3px 7px;
	overflow:hidden;
	width:80px!important;
}
#header .currencies ul li a{
	color:#fefefe;
	font-size:12px;
	line-height:12px;
	text-decoration:none;
}
#header .currencies ul li:hover{
	background:#b04508;
}

/* --- menu --- */
#header .menu{
	position:absolute;
	right:0;
	top:60px;
	width:658px;
	height:56px;
	background:url(../images/menu.png) no-repeat 0 0;
}
#header .menu ul{
	padding:0;
	margin:20px 0 0 106px;
	overflow:hidden;
}
#header .menu ul li{
	float:left;
	margin: 0 23px 0 0;
}
#header .menu ul li a{
	color:#fff;
	text-decoration:none;
	font-size:14px;
	line-height:17px;
}
#header .menu ul li:first-child a{}

#header .menu ul li.selected a,
#header .menu ul li a:hover{
	color:#087bbc;
}
#header .menu ul li.last{ margin:0;}

/* ============================= content ===================== */

.name{ font-size:17px; text-decoration:none; line-height:20px; font-weight:bold;}
.name:hover{ color:#b40741;}

#column-left{
	padding:0 21px 0 0;
}
#column-center{}
#right-column{}
.column-center-padding{
	background:#fff;
	padding:20px 20px 2px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
}

#indexDefault #featuredProducts .centerBoxHeading{ display:none;}
#newProductsDefaultHeading{
	background:url(../images/cat-heading.jpg) repeat-x 0 0;
	color:#fff;
	padding:2px 0 2px 12px;
	font-size:21px;
	line-height:35px;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
	border-bottom:1px solid #efefef;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
}
/* --- product --- */
.product-col{
	width:186px;
	border-left:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
	border-bottom:1px solid #bdbdbd;
	margin-bottom:20px;
	background:#f6f6f6;
	padding:10px 9px 9px 9px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
}
.product-col .prod-info{
	padding:15px 0 0 0px;
}

.product-col .name{
	color:#656567;
	font-weight:normal;
	text-decoration:none;
	font-size:12px;
	line-height:18px;
	padding:0 0 0 9px;
}
.product-col .name:hover{
	color:#e77608;
}

.product-col .text{}
.price{
	color:#3b3b3e;
	font-size:17px;
	line-height:22px;
	font-weight:normal;
}
.product-col .button { margin-left:-1px;}
.price strong{font-weight:normal;}
.product-col .price{ padding:2px 0 0 0; 	margin:0 0 21px 9px;}
.product-col .button,
.product-col .button2{ float:left;}

.bottom-hidden{ height:18px;}
/* ============================= footer ====================== */
#footer{
	position:relative;
	padding:41px 0 27px 0;
}
#footer .footer-menu{ float:left;}
/* --- copyright --- */
#footer .copyright{ float:right; color: #9d9d9d; font-weight: normal; text-decoration:none; font-size:12px; line-height:17px;}
#footer .copyright a{ text-decoration:none; color:#9d9d9d;}
#footer .copyright a:hover{ color:#000;}

/* --- back to top --- */
.back_to_top{
	width:0px;
	height:0px;
	position:absolute;
	top:0px;
	right:0px;
}
.back_to_top a{}
.back_to_top a:hover{}

/* --- cards --- */
#footer .cards{}

/* ============================= banners ====================== */

/* --- faded slider --- */
.slider{
	overflow:hidden;
	width:940px;
	height:437px;
	overflow:hidden;
}
#faded{
	width:940px;
	height:437px;
	position:relative;
}
#faded .pagination{
	position:absolute;
	bottom:0px;
	right:0px;
	z-index:9999;
	margin:0;
	background:url(../images/pags-bg.png) no-repeat 0 0;
	padding:10px 4px 11px 24px;
}
#faded .pagination li{
	width:14px;
	height:12px;
	overflow:hidden;
	float:left;
	margin:0 5px 0 0;
}
#faded .pagination li a{
	display:block;
	overflow:hidden;
	width:14px;
	height:12px;
	background:url(../images/pagination.png) no-repeat 100% 0;
	text-indent:-10000px;
}
#faded .pagination li.current a,
#faded .pagination li a:hover{
	background:url(../images/pagination.png) no-repeat 0 0;
}
.bottom-banners{
	width:100%;
	overflow:hidden;
	margin-bottom:20px;
}
.bottom-banners div{ float:left;}

/* ============================= forms ======================= */
input, select, textarea{ font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:normal; color:#010101; border:solid 1px #e3e3e3; padding:2px; background:#fdfdfd;}
input:focus, select:focus, textarea:focus{outline:none;}
.cartRemoveItemDisplay input,
#search-in-description, #inc-subcat, #gender-female, #gender-male, #newsletter-checkbox, #email-format-text, #email-format-html, #rating-1, #rating-2, #rating-3, #rating-4, #rating-5, #pmt-linkpoint_api, #pmt-moneyorder, #pmt-paypal, #pmt-cod, #notify-0{ border:none!important;}
#rating-1, #rating-2, #rating-3, #rating-4, #rating-5{margin:2px 4px 0 8px; padding:0; background:none;}
*+html #rating-1{ margin:0; padding:0;}
*+html #rating-2{ margin:0; padding:0;}
*+html #rating-3{ margin:0; padding:0;}
*+html #rating-4{ margin:0; padding:0;}
*+html #rating-5{ margin:0; padding:0;}
#globalnotify, #pmt-cod, #pmt-moneyorder, #ship-flat-flat, #ship-item-item, #ship-storepickup-storepickup, #gender-male, #gender-female, #email-format-html, #email-format-text, #newsletter{border:none!important;	position:relative; top:2px;}
#primary{ margin-left:10px;	position:relative; top:2px; border:none!important;}
#disc-ot_coupon{margin:5px 0 0 0;}
#cartContentsDisplay input{ background:none;}